# 将数据保存到数据库  SQLite

# 1 连接数据库

In [1]:
import sqlite3

# 打开或创建数据库文件
conn = sqlite3.connect("test.db")

print("Opened database successfully!")

Opened database successfully!

# 2 创建数据表

In [3]:
print("成功打开数据库")

c = conn.cursor()  #获取游标

# 分号‘；’，代表一行的结束
sql = '''
        create table company
            (id int primary key not null,
            name text not null,
            age int not null,
            address char(50),
            salary real);   
'''

c.execute(sql)   #执行sql语句
conn.commit()    #提交数据库操作
conn.close()     # 关闭数据库连接

print("成功建表")

成功打开数据库
成功建表

# 3 插入数据

In [13]:
print("插入数据")

conn = sqlite3.connect("test.db")
c = conn.cursor()

# sql1 = '''
    
#     insert into company (id,name,age,address,salary)
#         values(1,"张三",32,"成都",8000)
# '''

sql2 = '''
    
    insert into company (id,name,age,address,salary)
        values(2,"李四",28,"重庆",26000)
 '''       

# sql2 = '''

#     insert into company (id,name,age,address,salary)
#         values(2,"李四",28,"重庆",26000)
# '''

# c.execute(sql1)
c.execute(sql2)
conn.commit()
conn.close
print("插入数据完毕")

插入数据
插入数据完毕

# 4 查询数据

In [20]:
conn = sqlite3.connect("test.db")

c = conn.cursor()

sql = "select id,name,age,address,salary from company"

cursor = c.execute(sql)

for row in cursor:
    print("id = ",row[0])
    print("name = ",row[1])
    print("age = ",row[2])
    print("address = ",row[3] )
    print("salary = ",row[4],'\n')
    
conn.close()
print("查询完毕")

id =  1
name =  张三
age =  32
address =  成都
salary =  8000.0

id =  2
name =  李四
age =  28
address =  重庆
salary =  26000.0

查询完毕